<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js App</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="app">

            <p>{{message}}</p>
            <input v-model="message">
            <p>{{count}}</p>
            <input v-model.number="count">

            <ol>
                <li v-for="item in list">{{item}}</li>
            </ol>
            <button v-on:click="handleClick">click</button>

        </div>
        <script src="js/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>