<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js App</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="app">
            <my-component></my-component>
            <comp-child val="これは子A"></comp-child>
            <comp-child val="これは子B"></comp-child>
            <p>※トランジション</p>
            <p><button v-on:click="show=!show">切り替え</button></p>
            <transition>
                <div v-if="show" key="a">TRUE</div>
                <div v-else="show" key="b">FALSE</div>
            </transition>
            <transition name="demo">
              <div v-show="show">
                トランジションさせたい要素
              </div>
            </transition>
            <transition mode="out-in">
                <div v-if="show" key="a">
                    <img src="imgs/image.jpg" style="width: 200; height:200;">
                </div>
                <div v-else="show" key="b">
                    <img src="imgs/image.jpg" style="width: 400; height:300;">
                </div>
            </transition>
            <p>※キーの変化によるトランジションの発動</p>
            <button v-on:click="count++">切り替え</button>
            <transition>
                <div v-bind:key="count">{{count}}</div>
            </transition>
            <p>※リストのトランジション</p>
            <p><button v-on:click="order=!order">切り替え</button></p>
            <!-- transition-groupタグに指定した属性はラップ要素に付与される -->
            <transition-group tag="ul" class="listSample">
                <li v-for="item in sortedList" v-bind:key="item.id">
                {{ item.name }} {{ item.price }}円
                </li>
            </transition-group>
            <h3>※リストのトランジション</h3>
            <p>
                <button v-on:click="doShuffle">シャッフル</button>
                <button v-on:click="doAdd">追加</button>
            </p>
            <transition-group tag="ul" class="list">
            <li v-for="(item, index) in list"
                v-bind:key="item"
                class="item"
                v-on:click="doRemove(index)">{{ item }}</li>
            </transition-group>
            <h3>※SVGトランジション</h3>
            <button v-on:click="toggle=!toggle">切り替え</button>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <!-- SVGのパーツにトランジションを適用 -->
              <transition>
                <my-circle v-bind:fill="fill" v-bind:key="fill"></my-circle>
              </transition>
            </svg>
            <h3>※トランジションフック</h3>
            <p><button v-on:click="show=!show">切り替え</button></p>
            <transition
              v-on:before-enter="beforeEnter"
              v-on:enter="enter"
              v-on:after-enter="afterEnter"
              v-on:enter-cancelled="enterCancelled"
              v-on:before-leave="beforeLeave"
              v-on:leave="leave"
              v-on:after-leave="afterLeave"
              v-on:leave-cancelled="leaveCancelled">
              <div v-if="show">example</div>
            </transition>

        </div>
        <script src="js/vue.js"></script>
        <script src="js/axios.js"></script>
        <script src="js/lodash.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html> 